.background-component-container{
height: 70vh;
width: 100%;
display: flex;
justify-content: center;
align-items: start;
gap: 40px;
flex-direction: column;
padding:0 50px;
margin: 100px 0;
border-radius: 55px;
background: linear-gradient(180deg, rgba(255,239,0,1) 0%, rgba(255,196,0,1) 52%, rgba(255,145,0,1) 100%);
}

.background-component-container div{
    width: 40%;
display: flex;
flex-direction: column;
align-items: start;
gap: 30px;
    }
.background-component-container h1{
    font-size: 70px;
    font-weight: 500;
    line-height: 1.1;
    text-align: start;
    margin: 0;
    color: #000;
    font-family: NeueMontreal, sans-serif;
    }
    .background-component-container p{
        font-size: 25px;
        color: #414141;
        font-weight: 300;
        }