/* ScrollComponent.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.heading {
  font-size: 2.5rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0.04em 0.04rem 0 #81b5ab;
}

.section {
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  position: relative; /* Adicionado para que os itens se posicionem corretamente */
}

.list {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto 0;
  display: flex;
  position: relative;
  padding: 0.2rem;
}


.item {
  width: 100%;
  height: 100%; 
  border-radius: 55px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}


.item_content h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1;
  text-align: start;
  margin: 0;
  font-family: NeueMontreal, sans-serif;
  color: #000;
}
.item_content p {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -.03rem;
  font-weight: 500;
  text-align: start;
  margin: 0;
  color: #000;
}



.item_midle_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.item_category_tag {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  border: 1px solid #505050;  
  border-radius: 10px;  
  padding: 0.5rem;
  color: #505050;
}
.item_category{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.item_content {
  display: flex;
  color: #292929;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding:3rem 3rem;
  position: relative;
  width: 40%;gap: 20px;

}

.container-text-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 40px;
}

.container-text-cards h1{
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

.container-text-cards h2{
  font-weight: 400;
  line-height: 60px;
  color: #000;
  font-size: 55px;
  text-align: center;
}


.container-text-cards p{
  margin: 0;
  font-weight: 400;
  color: #696969;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}



.item_bottom button {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.item_bottom {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.item_media {
  object-fit: cover;
  width: 60%;
  border-radius: 55px;
  height: 100%;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-vertical {
  padding: 2rem;
}

@media (max-width: 575.98px) {
  .heading {
    font-size: 2.5rem;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .item_content,
  .item_media {
    height: 50vh;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .item_number {
    font-size: 0.5rem;
    top: 1.5rem;
  }
}
.item:nth-child(1) {
  background-color: #e0e0e0; /* Amarelo */
}

.item:nth-child(2) {
  background-color: #e0e0e0; /* Verde */
}

.item:nth-child(3) {
  background-color: #e0e0e0; /* Vermelho */
}

.item:nth-child(4) {
  background-color: #e0e0e0; /* Azul */
}
