.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Container para o vídeo com espaçamento das bordas */
  .video-container {
    position: absolute;
    top: 20px;
    bottom: 20px;

    border-radius: 55px;
    overflow: hidden;
    background: radial-gradient(125.76% 77.84% at 77.74% 0, transparent 0, #000 150%);
  }
  





  .video-container {
    position: absolute;
    top: 20px;
    bottom: 20px;
    border-radius: 55px;
    overflow: hidden;
    /* Remova o background do próprio elemento */
  }
  
  .video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Radial gradient: inicia transparente e vai para vermelho */
    background: radial-gradient(circle at top , transparent 0%, #000 170%);
  
    pointer-events: none;
  }
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  

  }
  
  .main-heading-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    width: 45%;
    gap: 2rem;
    margin: 0 auto;
    flex-direction: column;
  }


  .main-heading-text h1 {
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    margin: 0;
    font-family: NeueMontreal, sans-serif;
  }


  @media (max-width: 768px) {
    .main-heading-text {
      width: 80%;  /* Aumenta a largura para melhor aproveitamento em telas menores */
      gap: 1rem;   /* Reduz o espaçamento entre os elementos */
      font-size: 1.5rem; /* Ajusta o tamanho da fonte padrão */
    }
    
    .main-heading-text h1 {
      font-size: 3rem; /* Reduz o tamanho do título */
    }
    
    /* Se necessário, ajuste o vídeo também para não perder o recorte */
    .video-container {
      top: 10px;
      bottom: 10px;
      border-radius: 30px;
    }
  }