:root {
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #fff;

}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: 'NeueMontreal'; /* Nome que você quer dar para a fonte */
  src: url('/fonts/NeueMontreal-Regular.otf') format('otf');
  font-weight: normal; /* Peso da fonte */

}